/* Intro Template 1 */

.fullscreen{
    height: 600px;
}

ul{
    color: black;
    font-weight: 700;
}

.intro1 button {
  width: 175px;
  background-color: teal;
}
.intro1 button:hover{
  width: 175px;
  background-color: white;
  border: solid 1px teal;
  color: teal;
  }

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

/* Intro Template 2 */

.form_box{
    width: 85%;
    background-color: lightgray;
    padding: 20px;
}

.fullscreen{
    height: 600px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.intro2 button{
  background-color: teal;
  }

  .intro2 button:hover{
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }


/* Intro Template 3 */

.signUp button{
  background-color: white;
  border: teal solid 1px;
  color: teal;
}

.signUp button:hover{
  width: 175px;
  background-color: white;
  border: solid 1px teal;
  color: teal;
  }

.button_section .btn-success{
  background-color: teal;
}

.button_section .btn-success:hover{
  background-color: white;
  color: teal;
}

.button_section .btn-outline-success:hover{
  background-color: teal;
}

.button_section .btn-outline-success{
  border: teal solid 1px;
  color: teal;
}

.button_section button{
    width: 45%;
    }
    
    .fullscreen{
        height: 600px;
    }

    body{
      font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, h3, h4, h5 {
      font-family: 'Montserrat', sans-serif;
  }


/* Intro Template 4 */

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  .fullscreen{
    height: 600px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}


/* Intro Template 5 */

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.fullscreen{
    height: 600px;
}

.button_section .btn-success{
  background-color: teal;
}

.button_section .btn-success:hover{
  background-color: white;
  color: teal;
}