/* Intro Template 1 */

.intro1{
    min-height: 600px;
}

ul{
    color: black;
    font-weight: 700;
}

.intro1 button {
  width: auto;
  padding: 15px;
  font-size: 20px;
  background-color: teal;
}
.intro1 button:hover{
  background-color: white;
  border: solid 1px teal;
  color: teal;
  }

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
  padding: 0 75px;
}

.intro1 h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 45px;
  font-weight: 800;
}

.intro1 p{
  padding-bottom: 20px;
  }

/* Intro Template 2 */

.form_box{
    width: 85%;
    background-color: lightgray;
    padding: 20px;
}

.intro2{
  min-height: 600px;
}

.intro2 h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 45px;
  font-weight: 800;
}

.intro2 p{
  padding-bottom: 20px;
  }

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
  padding: 0 75px;
}

.intro2 button{
  background-color: teal;
  }

  .intro2 button:hover{
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }


/* Intro Template 3 */

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
  padding: 0 75px;
}

.intro3{
  min-height: 600px;
}

.signUp button{
  background-color: white;
  border: teal solid 1px;
  color: teal;
}

.signUp button:hover{
  width: 175px;
  background-color: white;
  border: solid 1px teal;
  color: teal;
  }

.button_section .btn{
  background-color: teal;
  color: #FFF;
  font-size: 20px;
}

.button_section .btn:hover{
  background-color: white;
  color: teal;
  border: solid 1px teal;
}

.button_section .btn-outline:hover{
  background-color: teal;
  color: #FFF;
}

.button_section .btn-outline{
  border: teal solid 1px;
  color: teal;
  background-color: #FFF;
}

.button_section button{
    width: 45%;
    }

.intro3 h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 45px;
  font-weight: 800;
}

.intro3 p{
  padding-bottom: 20px;
  }



/* Intro Template 4 */

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}


.section_wrapper{
  padding: 0 75px;
}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  .intro4 h1{
    text-shadow: 2px 2px 4px #000000;
  }

  .intro4 p {
    text-shadow: 2px 2px 4px #000000;

  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  .intro4{
    min-height: 600px;
}




/* Intro Template 5 */

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
  padding: 0 75px;
}

.intro5{
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.intro5 h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 45px;
  font-weight: 800;
}

.intro5 .sub-text{
  padding-bottom: 20px;
  /* max-width: 750px; */
  margin-left: auto;
  margin-right: auto;
  }

  .intro5 input{
    height: 45px;
    margin: 0px;
    width: auto;
    min-width: 350px;
}

.intro5 .btn{
  width: auto;
}

.intro5 .button_section{
  display: flex;
  justify-content: space-evenly;
}
  

