/* Teams Template 1 */




/* Teams Template 2 */





/* Teams Template 3 */





/* Teams Template 4 */


.overImg{
    background-color: #C0C0C0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
}