/* Teams Template 1 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}


/* Teams Template 2 */


body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.team2 button {
    color: teal;
    background-color: white;
    border: teal solid 1px;
}


/* Teams Template 3 */


body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}


/* Teams Template 4 */


body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.overImg{
    background-color: #C0C0C0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
}