/* Features Template 1 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

h1{
    font-size: 45px;
    font-weight: 800;
}


.feature{
    margin-left: -12px;
}

.feature strong{
    font-weight: 900;
    color: teal;
    font-size: 20px;

    
}

.strong-point{
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Features Template 2 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 45px;
    font-weight: 800;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

.strong-point{
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature2 strong{
    font-weight: 900;
    font-size: 22px;
}


.feature2 .subtext{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.feature2 svg {
    fill: teal;
}



/* Features Template 3 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 45px;
    font-weight: 800;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }


.feature3 button {
    padding-right: 25px;
    padding-left: 25px;
    width: 175px;
    background-color: teal;
}

.feature3 button:hover{
    width: 175px;
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

.feature3 svg {
    fill: teal;
}

.feature3 h1{
    padding-bottom: 45px;
}

.feature3 strong{
    font-weight: 900;
    font-size: 22px;
}




/* Features Template 4 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

h1{
    font-size: 45px;
    font-weight: 800;
}

.feature4 button {
    width: 175px;
    background-color: teal;
}
.feature4 button:hover{
    width: 175px;
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

.feature4 svg{
    fill: teal;
}

.feature4 strong{
    font-weight: 900;
    font-size: 20px;
}

.feature4 .strong-point{
    padding-top: 10px;
    padding-bottom: 10px;
}