/* Features Template 1 */

.feature{
    margin-left: -12px;
}

/* Features Template 2 */





/* Features Template 3 */

.container button {
    padding-right: 25px;
    padding-left: 25px;

}





/* Features Template 4 */