/* Testimonials Template 1 */

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}


/* Testimonials Template 2 */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}



/* Testimonials Template 3 */



body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}



/* Testimonials Template 4 */

.testimonials4{
    background-color: teal;
}