.contOne input, .contOne textarea{
background-color: lightgray;

}

.contOne{
    width: 45%!important;
}

.contOne textarea{
    margin-left: 12px;
    margin-right:12px;
}

.contOne button{
width: 175px;
}