/* Contact Template 1 */
body{
    font-family: 'Montserrat', sans-serif;
}



h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.contOne input, .contOne textarea{
background-color: lightgray;

}

.contOne{
    width: 45%!important;
}

.contOne textarea{
    margin-left: 12px;
    margin-right:12px;
}

.contOne button{
width: 175px;
background-color: teal;
}

.contOne button:hover{
    width: 175px;
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }
/* Contact Template 2 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.contTwo{
    width: 45%!important;
}

.infoContainer input, .infoContainer textarea{
    background-color: lightgray;
    
    }

.infoContainer{
    width:100%!important;
}

.infoContainer button{
    width: 175px;
    background-color: teal;
    }

    .infoContainer button:hover{
        width: 175px;
        background-color: white;
        border: solid 1px teal;
        color: teal;
        }

.inputColumn{
    padding-right: 150px!important;
}

/* Contact Template 3 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

.contThree{
    width: 45%!important;
}

.infoContainerThree input, .infoContainerThree textarea{
    background-color: lightgray;
    
    }

.infoContainerThree{
    width:100%!important;
}

.infoContainerThree button{
    width: 175px;
    background-color: teal;
    }

    .infoContainerThree button:hover{
        width: 175px;
        background-color: white;
        border: solid 1px teal;
        color: teal;
        }

.map{
    margin-left: -150px;
}

/* Contact Template 4 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

.contact4 button {
    width: 175px;
    background-color: teal;
}

.contact4 button:hover{
    width: 175px;
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }