.contThree{
    width: 45%!important;
}

.infoContainerThree input, .infoContainerThree textarea{
    background-color: lightgray;
    
    }

.infoContainerThree{
    width:100%!important;
}

.infoContainerThree button{
    width: 175px;
    }

.map{
    margin-left: -150px;
}