/* Contact Template 1 */
body{
    font-family: 'Montserrat', sans-serif;
}



h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

.contOne input, .contOne textarea{
background-color: lightgray;

}

.contOne .head{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contOne textarea{
    margin-top: 20px;
}

.contOne .forms{
    
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contOne button{
width: 100%;
max-width: 200px;
background-color: teal;
}

.contOne button:hover{
    width: 175px;
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

    @media  (max-width:767px){
        .forms .col-md-6{
            padding-bottom: 20px;
        }
        .contOne textarea{
            margin-top: 0px;
        }
    }

  @media  (max-width:470px){
      .contOne{
          max-width: none;
      }

      .contOne .forms{
          max-width: none;    
      }


  } 
/* Contact Template 2 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

.contTwo .head{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.infoContainer input, .infoContainer textarea{
    background-color: lightgray;
    
    }

.infoContainer{
    width:100%!important;
}

.infoContainer button{
    width: 175px;
    background-color: teal;
    }

.infoContainer button:hover{
    width: 175px;
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

.infoContainer .submitButton{
    text-align: right;
}

@media  (max-width:767px){

    .inputColumn{
        text-align: center;
    }
    .infoContainer .submitButton{
        text-align: center;
    }

    .infoContainer .information{
        padding-top: 25px;
        text-align: center;
    }
}



/* Contact Template 3 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

  .contThree .head{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.infoContainerThree input, .infoContainerThree textarea{
    background-color: lightgray;
    
    }

.infoContainerThree{
    width:100%;

}

.infoContainerThree button{
    width: 175px;
    background-color: teal;
    }

    .infoContainerThree button:hover{
        width: 175px;
        background-color: white;
        border: solid 1px teal;
        color: teal;
        }



@media  (max-width:767px){

    .infoContainerThree{
        text-align: center;
    }

    .infoContainerThree .row {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .infoContainerThree .forms{
        padding-top: 20px;
    }

    .map p{
        padding-top: 20px;
    }



}


/* Contact Template 4 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

.contact4 button {
    max-width: 175px;
    background-color: teal;
}

.contact4 button:hover{
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

    strong{
        font-weight: 800;
        color: teal;
    }

@media  (max-width:767px){

    .contact4{
        text-align: center;
    }

    .contact4 .map{
        padding-top: 20px;
    }
}
    