/* Gallery 1 */
body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}





/* Gallery 2 */


body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}




/* Gallery 3 */


body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}


/* Gallery 4 */

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}

.regular img {
    /* padding: 10px; */
    /* margin: 10px; */
    width: 250px;
}

.slick-prev:before {
    color: teal !important;
    background-color: #eee;
    font-size: x-large;
    
  }
  .slick-next:before {
    color: teal !important;
    background-color: #eee;
    font-size: x-large;
  }