/* Gallery 1 */
body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
  padding: 0 75px;
}

.gallery1 h2{
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 15px;
}

.gallery1 .sub-text{
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  padding-bottom: 15px;
}

.gallery1 h4{
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 800;
  color: teal;
}




/* Gallery 2 */


body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}


.section_wrapper{
  padding: 0 75px;
}

.gallery2 h2{
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 15px;
  padding-top: 15px;

}

.gallery2 .sub-text{
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  padding-bottom: 15px;
}

.gallery2 .image-holder{
  margin-bottom: 35px;
}



/* Gallery 3 */


body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}


.section_wrapper{
  padding: 0 75px;
}

.gallery3 h2{
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 15px;
  padding-top: 15px;

}

.gallery3 .sub-text{
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  padding-bottom: 15px;
}


.gallery3 h4{
  padding-top: 15px;
  font-weight: 800;
  color: teal;
}




/* Gallery 4 */

body{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'Montserrat', sans-serif;
}


.section_wrapper{
  padding: 0 75px;
}

.regular{
  padding-left: 25px;
  padding-right: 10px;
}

.regular img {
    width: 250px;
}

.gallery4 h2{
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 15px;
  padding-top: 15px;
}

.slick-prev:before {
    color: teal !important;
    background-color: #eee;
    font-size: x-large;
    
  }
  .slick-next:before {
    color: teal !important;
    background-color: #eee;
    font-size: x-large;
  }