/* Footer 1 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}



/* Footer 2 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}




/* Footer 3 */

.footer3 button {
    background-color: teal;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}




/* Footer 4 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}





/* Footer 5 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}