/* Footer 1 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}


.menuLink{
    color: black;
}

.menuLink:hover{
    color: teal;
    cursor: pointer;
}



/* Footer 2 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}

.menuLink{
    color: black;
}

.menuLink:hover{
    color: teal;
    cursor: pointer;
}




/* Footer 3 */

.footer3 button {
    background-color: teal;
}
.footer3 button:hover{
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}





/* Footer 4 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}


.menuLink{
    color: black;
}

.menuLink:hover{
    color: teal;
    cursor: pointer;
}



/* Footer 5 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}

.menuLink{
    color: black;
}

.menuLink:hover{
    color: teal;
    cursor: pointer;
}
