/* Pricing Table Template 1 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

.pricing1 button{
    background-color: teal;
}
.pricing1 button:hover{
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

.price{
    font-size: 42px;
    font-weight: 700;
    color: teal;
    padding-top: 10px;
}

.pricing1 p{
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.pricing1 h2{
    font-size: 45px;
    font-weight: 800;
}

.pricing1 strong{
    font-weight: 800;
    font-size:20px
}



/* Pricing Table Template 2 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

.price{
    font-size: 42px;
    font-weight: 700;
    color: teal;
}

.perMonth{
    font-size:18px;
    color: grey;
    font-weight: 500;
}

.pricing2 button {
    background-color: teal;
    width: 175px;
}

.pricing2 button:hover{
    width: 175px;
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

.pricing2 svg{ 
    fill: teal;
    padding-bottom: 15px;
}

.pricing2 strong{
    font-size: 20px;
    font-weight: 800;
}

.pricing2 h2{
    font-size: 45px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing2 .sub-text{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.pricing2 .border-right{
    padding-right: 50px;
}




/* Pricing Table Template 3 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }


.pricing3 .btn-success{
    width: 100%;
background-color: teal;
}

.pricing3 .btn-success:hover{
    background-color: white;
    border: solid 1px teal;
    color: teal;
    }

.pricing3 .btn-outline-success{
    background-color: white;
    border: teal solid 1px;
    color: teal;
    }

    .pricing3 .btn-outline-success:hover{
        background-color: teal;
        color: white;
        }


.price{
    font-size: 42px;
    font-weight: 700;
    color: teal;
}


.popular{
    transform: rotate(90deg);
    position: absolute;
    top: 33px;
    background: teal;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}

.btn-holder{
    padding-bottom: 15px;

}

.pricing3 h2{
    font-size: 45px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 20px;
}

.pricing3 .strong-point{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
}




/* Pricing Table Template 4 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}


.section_wrapper{
    padding: 0 75px;
  }
  
.price{
    font-size: 42px;
    font-weight: 700;
    color: teal;
}

.pricing4 .btn-outline-success{
    background-color: white;
    border: teal solid 1px;
    color: teal;
    }

.pricing4 .btn-outline-success:hover{
    background-color: teal;
    color: white;
     }

.pricing4 h2{
    font-size: 45px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing4 h4{
    padding-bottom: 20px;
}

.pricing4 svg {
    fill: teal;
    padding-bottom: 20px;
}