/* Content Template 1 */
body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }



.content1 h2{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 20px;
}



/* Content Template 2 */
body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }

  .content2 h2{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 20px;
}





/* Content Template 3 */

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat', sans-serif;
}

.section_wrapper{
    padding: 0 75px;
  }


  .content3 h2{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 20px;
}

.containerSmall{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}